###################################################################################################
# wp-limitlessv-nginx-cache:
# Is a NGINX configuration to speedup your WordPress
# website with or without cache plugin will benefit from it.
#
# Author: Shmuel Maruani
# URL:    https://github.com/LimitlessVirtue/wp-limitlessv-nginx-cache/
#
# Tested with:
# - Clean no Cache plugin
# - WP Super Cache
# - W3 Total Cache
# - WP Fastest Cache
# - WP-Optimize
# - Autoptimize
# [WordPress NGINX](https://bitnami.com/stack/wordpress-pro)
###################################################################################################
#  Version 0.0.1
###################################################################################################

set $cache_uri $request_uri;

# POST requests and urls with a query string should always go to PHP
if ($request_method = POST) {
    set $cache_uri 'null cache';
}
if ($query_string != "") {
    set $cache_uri 'null cache';
}

# Don't cache uris containing the following segments
if ($request_uri ~* "(/wp-admin/|/xmlrpc.php|/wp-(app|cron|login|register|mail).php
                      |wp-.*.php|/feed/|index.php|wp-comments-popup.php
                      |wp-links-opml.php|wp-locations.php |sitemap(_index)?.xml
                      |[a-z0-9_-]+-sitemap([0-9]+)?.xml)") {

    set $cache_uri 'null cache';
}

# Don't use the cache for logged-in users or recent commenters
if ($http_cookie ~* "comment_author|wordpress_[a-f0-9]+
                     |wp-postpass|wordpress_logged_in") {
    set $cache_uri 'null cache';
}

###################################################################################################
# BROWSER CACHE: fonts
#
location ~* \.(?:woff|woff2)$ {
    etag on;
    gzip_vary on;
    expires 3M;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";

}
###################################################################################################
# BROWSER CACHE: audio
#
location ~* \.(?:mp3|ra|oga)$ {
    etag on;
    gzip_vary on;
    expires 4M;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";
}
###################################################################################################
# BROWSER CACHE: video
#
location ~* \.(?:mpeg|mpg|mov|flv|avi|wmv|asx|asf|mng|ogv)$ {
    etag on;
    gzip_vary on;
    expires 4M;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";
    # add_header Vary "Accept-Encoding, Cookie";
}
###################################################################################################
# BROWSER CACHE: images
#
location ~* \.(?:wbmp|jng|ico|png|jpeg|jpg|gif|cur)$ {
    etag on;
    gzip_vary on;
    expires 2M;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";
    # add_header Vary "Accept-Encoding, Cookie";
}
###################################################################################################
# BROWSER CACHE: others
#
location ~* \.(?:swf|ogx|pdf)$ {
    etag on;
    gzip_vary on;
    expires 2M;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";
    # add_header Vary "Accept-Encoding, Cookie";
}
###################################################################################################
# BROWSER CACHE: text
#
location ~* \.(?:xml|txt|rss|htc|mml)$ {
    etag on;
    gzip_vary on;
    expires 1d;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";
    # add_header Vary "Accept-Encoding, Cookie";
}
###################################################################################################
# BROWSER CACHE: text/htm
#
location ~* \.(?:html|htm|shtml)$ {
    etag on;
    gzip_vary on;
    expires 1d;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";
    # add_header Vary "Accept-Encoding, Cookie";
}
###################################################################################################
# BROWSER CACHE: text/style
#
location ~* \.css$ {
    etag on;
    gzip_vary on;
    expires 1d;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";
    # add_header Vary "Accept-Encoding, Cookie";
}
###################################################################################################
# BROWSER CACHE: text/js
#
location ~* \.js$ {
    etag on;
    gzip_vary on;
    expires 1d;
	add_header Cache-Control "public";
    # add_header Cache-Control "public, includeSubDomains";
    # add_header Vary "Accept-Encoding, Cookie";
}

###################################################################################################
## This section, design to adding specific parameters base on the WordPress cache plugin.
###################################################################################################
	location ~* /wp-content/cache/autoptimize/.*html$ {
		etag on;
		gzip_vary on;
		add_header Cache-Control "no-cache, no-store, must-revalidate";
	}
	#############
	location ~* /wp-content/cache/autoptimize/css/.*css$ {
		etag on;
		gzip_vary on;
		expires 7d;
	    add_header Cache-Control "public, includeSubDomains";
		# add_header Cache-Control "public, includeSubDomains; preload";
		# add_header Cache-Control "public";
	}
	#############
	location ~* /wp-content/cache/autoptimize/js/.*js$ {
		etag on;
		gzip_vary on;
		expires 7d;
	    add_header Cache-Control "public, includeSubDomains";
		# add_header Cache-Control "public, includeSubDomains; preload";
		# add_header Cache-Control "public";
	}

